.test{
    /* login input color */
    color : #ECECEE;
    /*  body text color*/
    color :  #758E8F;
    /* notes color */
    color: #95A5A6;
/* placeholder */
color:#707070;
/* links in login */
color:#0071FF;
/* secondary */
color:#EC5252;
/* h1 h2 h3 h4 */
color:#111111;
margin: auto;

}